* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(90deg, #fff, #ffe59b);
}

.container {
    background-color: #fff;
    position: relative;
    width: 850px;
    height: 550px;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .3);
    overflow: hidden;
    margin: 0 20px;
}

.alert-error {
    opacity: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #ffdddd;
    color: #333;
    border: 1px solid #ff0000;
    border-radius: 5px;
    text-align: left;
    transition: 0.5s ease-in;
    position: absolute;
}

.alert-error.active {
    opacity: 1;
    position: relative;
}

.alert-success {
    opacity: 0;
    width: 100%;
    padding: 10px 20px;
    background-color: #e9ffdd;
    color: #333;
    border: 1px solid #4dff00;
    border-radius: 5px;
    text-align: left;
    transition: 0.5s ease-in;
    position: absolute;
}

.alert-success.active {
    opacity: 1;
    position: relative;
}


.container h1.title {
    margin-bottom: 0;
}

.container h1.title.active {
    margin-bottom: 30px;
}

.form-box {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;
    transition: .6s ease-in-out 1.2s, visibility 0s 1s;
}

.container.active .form-box {
    right: 50%;
}

.form-box.register {
    visibility: hidden;
}

.container.active .form-box.register {
    visibility: visible;
}

form {
    width: 100%;
}

.login-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 36px;
    margin: -10px 0;
    transition: 0.5s ease-in-out;
}

.input-box.email {
    position: relative;
    margin-bottom: 30px;
    transition: 0.5s ease-in-out;
}

.input-box.email.active {
    margin-top: 30px;
}

.input-box.password {
    position: relative;
    margin: 30px 0;
}

.input-box {
    position: relative;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    border-radius: 8px;
    padding: 13px 50px 13px 20px;
    background-color: #eee;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.email-warning,
.password-warning {
    opacity: 0;
    position: absolute;
    font-size: 12px;
    color: red;
    margin-top: 55px;
    left: 20px;
    transition: opacity 0.4s ease-in-out
}

.email-warning.active,
.password-warning.active {
    opacity: 1;
}

.register-email-warning,
.register-password-warning {
    opacity: 0;
    position: absolute;
    font-size: 12px;
    color: red;
    margin-top: 55px;
    left: 20px;
    transition: opacity 0.4s ease-in-out
}

.register-email-warning.active,
.register-password-warning.active {
    opacity: 1;
}


input-box input::placeholder {
    font-weight: 400;
    color: #888;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.forgot-link {
    margin: -15px 0 15px;
    text-align: right;
}

.forgot-link a {
    font-size: 14.5px;
    color: #333;
    text-decoration: none;
    opacity: 80%;
}

.btn {
    width: 100%;
    height: 48px;
    background: #e9f035;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

.plataforms-icons {
    display: flex;
    justify-content: center;
}

.plataforms-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

.toggle-box {
    position: absolute;
    width: 100%;
    height: 100%;
}

.toggle-box::before {
    content: '';
    position: absolute;
    left: -250%;
    width: 300%;
    height: 100%;
    background: #e9f035;
    border-radius: 125px;
    z-index: 2;
    transition: 1.8s ease-in-out;
}

.container.active .toggle-box::before {
    left: 50%;
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: .6s ease-in-out;
}

.toggle-panel.toggle-left {
    left: 0;
    transition-delay: 1.2s;
}

.container.active .toggle-panel.toggle-left {
    left: -50%;
    transition-delay: .6s;
}

.toggle-panel.toggle-right {
    right: -50%;
    transition-delay: 0.6s;
}

.container.active .toggle-panel.toggle-right {
    right: 0;
    transition-delay: 1.2s;
}

.toggle-panel p {
    margin-bottom: 20px;
}

.toggle-panel .btn {
    width: 160px;
    height: 46px;
    background: transparent;
    border: 2px solid #333;
    box-shadow: none;
}

.register-panel-text {
    font-size: 30px !important;
}

@media screen and (max-width: 650px) {
    .container {
        height: calc(100vh - 40px);
    }

    .form-box {
        bottom: 0;
        width: 100%;
        height: 70%;
    }

    .container.active .form-box {
        right: 0;
        bottom: 30%
    }

    .toggle-box::before {
        left: 0;
        top: -270%;
        width: 100%;
        height: 300%;
        border-radius: 20vw;
    }

    .container.active .toggle-box::before {
        top: 70%;
        left: 0;
    }

    .toggle-panel {
        width: 100%;
        height: 30%;
    }

    .toggle-panel.toggle-left {
        top: 0;
    }

    .container.active .toggle-panel.toggle-left {
        left: 0;
        top: -30%;
    }

    .toggle-panel.toggle-right {
        right: 0;
        bottom: -30%;
    }

    .container.active .toggle-panel.toggle-right {
        bottom: 0;
    }
}

@media screen and (max-width: 400px) {
    .form-box {
        padding: 20px;
    }

    .toggle-panel h1 {
        font-size: 30px;
    }
}